h1{
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.t{
    color: #404F5E;
    font-size:20px;
    margin: 0;
    text-align: center;
}

.checkmark{
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:50px;
    text-align: center;
}

.card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    margin: 0 auto;
    width: 50%;
    position: relative;
    top: 50px;
}